.fadeIn {
  opacity: 0;
  animation-name: fadeIn;
  animation-fill-mode: forwards;
  animation-duration: 1s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    visibility: hidden;
  }

  to {
    opacity: 1;
    visibility: visible;
  }
}

.fadeInDown {
  position: relative;
  opacity: 0;
  animation-name: fadeInDown;
  animation-fill-mode: forwards
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    bottom: -50px;
  }

  to {
    opacity: 1;
    bottom: 0;
  }
}

.fadeInUpDown {
  animation-name: fadeInUpDown;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
  max-height: 0;
  padding-top: 0;
  padding-bottom: 0;
}

@keyframes fadeInUpDown {
  from {
    max-height: 0;
    padding-top: 0;
    padding-bottom: 0;
  }

  to {
    max-height: 100%;
    padding-top: 30px;
    padding-bottom: 20px;
  }
}

.fadeInLeft {
  position: relative;
  animation-name: fadeInLeft;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    left: -100px;
  }

  to {
    opacity: 1;
    left: 0;
  }
}

.fadeInUp {
  animation-name: fadeInUp;
  animation-duration: 0.5s;
  animation-fill-mode: forwards
}

@keyframes fadeInUp {
  from {
    top: -100%;
  }

  to {
    top: 0;
  }
}

.hideToUp {
  animation-name: hideToUp;
  animation-duration: 1s;
  // animation-fill-mode: forwards
}

@keyframes hideToUp {
  from {
    top: 0;
  }

  to {
    top: -100%;
  }
}

.hideToLeft {
  position: relative;
  animation-name: hideToLeft;
  animation-duration: 1s;
  animation-fill-mode: forwards
}

@keyframes hideToLeft {
  from {
    left: +100%;
  }

  to {
    left: 0;
  }
}

.showFromLeft {
  position: relative;
  animation-name: showFromLeft;
  animation-duration: 1s;
  animation-fill-mode: forwards
}

@keyframes showFromLeft {
  from {
    left: -100%;
  }

  to {
    left: 0;
  }
}

.hideToRight {
  position: relative;
  animation-name: hideToRight;
  animation-duration: 1s;
  animation-fill-mode: forwards
}

@keyframes hideToRight {
  from {
    right: +100%;
  }

  to {
    right: 0;
  }
}

.showFromRight {
  position: relative;
  animation-name: showFromRight;
  animation-duration: 1s;
  animation-fill-mode: forwards
}

@keyframes showFromRight {
  from {
    right: -100%;
  }

  to {
    right: 0;
  }
}

.moveUp {
  animation-name: moveUp;
  animation-fill-mode: forwards;
  animation-duration: 1s;
}

@keyframes moveUp {
  from {
    top: 180px;
  }

  to {
    top: 0px
  }
}