.button {
  position: relative;
  overflow: hidden;
  border-radius: 30px;
  border: 2px solid $color-title;

  &.button-main {
    border-radius: 43px;
    border: 1px solid $color-text;
  }

  // .button__text
  &__text {
    position: relative;
    font-family: $fontFamilyBlack;
    font-size: 1rem;
    line-height: 4;
    letter-spacing: 0.2em;
    background-color: $color-paragraph;
    border-radius: 30px;
    text-transform: uppercase;
    color: $color-text;
    transition: all 0.3s ease-out;
    z-index: 5;

    &.text-social {
      padding: 0px 18px;
    }

    &.text-main {
      font-family: $fontFamilyBolt;
      font-size: 1.8rem;
      line-height: 1.22;
      letter-spacing: 0.2em;
      border-radius: 43px;
      padding: 25px 0;
      width: 185px;
      background-color: rgba(0, 0, 0, 0.5);

      &:hover {
        padding-left: 35px;
        letter-spacing: 0.05em;
      }
    }

    &.text-dish {
      padding: 0px 32px;

      &:hover {
        padding: 0 22px 0 42px;
      }
    }

    &:hover {
      color: $color-paragraph;
      background-color: rgba(0, 0, 0, 0);
    }
  }

  &:hover &__img {
    left: 0;
  }

  &__img {
    position: absolute;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 15px;
    height: 100%;
    z-index: 2;
    left: -185px;
    top: 0;
    border-radius: 30px;
    background-color: $color-main-primary;
    width: 100%;
    transition: all 0.3s ease;

    & img {
      widows: 17px;
      height: 17px;
    }

    &.img-main img {
      widows: 27px;
      height: 27px;
    }
  }
}