.chefs {

  // .chefs__card
  &__card {}
}

.card-chef {
  opacity: 0;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 10px;
  cursor: pointer;

  &:hover {
    box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.8);
  }

  // .card-chef__logo
  &__logo {
    display: flex;
    align-items: center;
    gap: 24px;
  }

  // .card-chef__description
  &__description {
    display: flex;
    flex-direction: column;
    gap: 6px;
  }

  // .card-chef__name
  &__name {
    font-size: 1.8rem;
    line-height: 1.17;
    letter-spacing: -0.225px;
    color: $color-text-primary;
  }

  // .card-chef__prof
  &__prof {
    font-size: 1.2rem;
    line-height: 1.33;
    letter-spacing: -0.15px;
    color: $color-text;
  }

  // .card-chef__img
  &__img {
    display: flex;
    gap: 10px;

    @media(max-width: 370px) {
      &:last-child {
        display: none;
      }
    }
  }
}