.contact-main {

  // .contact-main__block
  &__block {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}

.contact {

  // .contact__logo
  &__logo {
    padding-bottom: 16px;
  }

  // .contact__text
  &__text {
    font-size: 1.6rem;
    line-height: 1.875;
  }

  // .contact__subtext
  &__subtext {
    font-size: 1.4rem;
    line-height: 1.875;
    opacity: 0.5;
  }
}