.dishes-cards {

  // .dishes-cards__card-dish
  &__card-dish {}
}

.card-dish {
  opacity: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 6px;
  background-color: $color-paragraph;
  width: 350px;
  text-align: left;
  height: 493px;
  justify-content: end;
  overflow: hidden;
  transition: all 0.3s ease-out;

  &:hover {}

  // .card-dish__img
  &__img {
    position: relative;
    height: 260px;
    transition: all 0.3s ease-out;
  }

  &:hover &__img {
    transform: scale(1.1) translateY(-50px);
  }

  &__img-mask {
    background-color: #000000;
    opacity: 0;
    height: 100%;
    transition: all 0.3s ease-out;
  }

  &:hover &__img-mask {
    opacity: 0.5;
    transition: all 0.3s ease-out;
  }

  // .card-dish__description
  &__description {
    position: relative;
    padding: 30px 30px 0px 30px;
    background-color: $color-paragraph;
    z-index: 1;
    height: 149px;
    transition: all 0.3s ease-out;
    overflow: hidden;

    @media(max-width: $md4) {
      height: 159px;
    }
  }

  &:hover &__description {
    height: 260px;
    padding-top: 0;
    transition: all 0.3s ease-out;
  }

  // .card-dish__title
  &__title {
    font-size: 3.2rem;
    line-height: 0.9375;
    color: $color-subtitle;
  }

  // .card-dish__subtitle
  &__subtitle {
    font-size: 1.2rem;
    line-height: 1.33;
    letter-spacing: -0.15px;
    color: $color-text;
  }

  // .card-dish__text
  &__text {
    font-size: 1.3rem;
    line-height: 1.38;
    letter-spacing: -0.1625px;
    color: $color-text;
    min-height: 54px;
    margin: 20px 0;

    /* width */
    &::-webkit-scrollbar {
      width: 5px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background: none;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: $color-title;
      border-radius: 5px;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: #555;
    }
  }

  &:hover &__text {
    overflow: auto;
    max-height: 146px;
  }

  // .card-dish__oder-block
  &__oder-block {
    padding: 16px 24px 24px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $color-paragraph;
  }

  // .card-dish__reiting
  &__reiting {
    display: flex;
    align-items: center;
    gap: 14px;
  }

  // .card-dish__voice
  &__voice {
    font-family: $fontFamilyBlack;
    font-size: 1.2rem;
    line-height: 2.5;
    letter-spacing: 0.125;
    color: $color-text;
  }

  // .card-dish__button
  &__button {}
}