.recipes {

  // .recipes__left-side
  &__left-side {
    opacity: 0;
    width: 540px;
    height: 510px;
    overflow: hidden;
  }
}

.left-side-recipes {
  position: relative;

  &__container {
    display: flex;
    gap: 10px;
  }

  &__block {
    position: relative;
    width: 540px;
    padding: 60px 90px;
    max-height: 540px;
    border-radius: 6px;

    &.bg-grey {
      background-color: $color-paragraph;
    }

    &.bg-green {
      background-color: $color-main-primary;
    }
  }


  &__img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -5;

    & img {
      border-radius: 6px;
    }
  }

  &__btn {
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
  }

  // .left-side-recipes__text-block
  &__text-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 390px;
    color: $color-text-primary;

    &.text-dark {
      color: $color-paragraph;
    }
  }

  // .left-side-recipes__title
  &__title {
    font-family: $fontFamilyBlack;
    font-size: 1rem;
    line-height: 2.5;
    letter-spacing: 1.25px;
    padding: 0px 16px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    text-transform: uppercase;

    &.bg-green {
      color: $color-text-primary;
      background-color: rgba(0, 0, 0, 0.7);
    }
  }

  // .left-side-recipes__date
  &__date {
    font-size: 1.4rem;
    line-height: 2.14;
  }

  // .left-side-recipes__text
  &__text {
    font-size: 2.4rem;
    line-height: 1.67;
  }

  // .left-side-recipes__author
  &__author {
    font-size: 1.4rem;
    line-height: 2.14;
  }

  // .left-side-recipes__revision
  &__revision {
    display: flex;
    gap: 27px;
    color: $color-paragraph;
  }

  // .left-side-recipes__watch-block
  &__watch-block {
    display: flex;
    gap: 14px;
  }

  // .left-side-recipes__number
  &__number {
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 2.5;
  }

  // .left-side-recipes__read-block
  &__read-block {}
}