.recipes {

  // .recipes__left-side
  &__left-side {
    display: flex;
    flex-direction: column;
    padding: 60px 90px;
    flex: 0 1 50%;
    align-items: center;
    text-align: center;
    max-width: 540px;
  }
}

.left-side-recipes {
  position: relative;

  &__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -5;
  }

  &__btn {
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
  }
  // .left-side-recipes__title
  &__title {
    font-family: $fontFamilyBlack;
    font-size: 1rem;
    line-height: 2.5;
    letter-spacing: 1.25px;
    color: $color-text-primary;
    padding: 0px 16px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    text-transform: uppercase;
  }

  // .left-side-recipes__date
  &__date {
    font-size: 1.4rem;
    line-height: 2.14;
    color: $color-text-primary;
    padding: 65px 0 25px 0;
  }

  // .left-side-recipes__text
  &__text {
    font-size: 2.4rem;
    line-height: 1.67;
    color: $color-text-primary;
  }

  // .left-side-recipes__author
  &__author {
    font-size: 1.4rem;
    line-height: 2.14;
    padding: 45px 0 60px 0;
  }

  // .left-side-recipes__revision
  &__revision {
    display: flex;
    gap: 27px;
  }

  // .left-side-recipes__watch-block
  &__watch-block {
    display: flex;
    gap: 14px;
  }

  // .left-side-recipes__watch-number
  &__number {
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 2.5;
  }

  // .left-side-recipes__read-block
  &__read-block {}
}