.about {
  // .about__slider-dish
  &__slider-dish {}
}
.slider-dish {
  position: relative;
  // .slider-dish__prev-btn
  &__button {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    width: 60px;
    height: 60px;
    cursor: pointer;
    transition: all 0.1s ease-out;

    &.prev-btn {
      background: url('../../image/icon/arrow-prev.svg') 0 0 no-repeat;
      left: -132px;

      @media(max-width: $md1) {
        left: -92px;
      }
      @media(max-width: $md2) {
        left: -132px;
      }

      @media(max-width: $md3) {
        left: 80px;
        top: 65px;
      }

      &:hover {
        background: url('../../image/icon/arrow-prev-active.svg') 0 0 no-repeat;
      }
    }
    // .slider-dish__next-btn
    &.next-btn {
      right: -132px;
      background: url('../../image/icon/arrow-next.svg') 0 0 no-repeat;

      @media(max-width: $md1) {
        right: -92px;
      }
      
      @media(max-width: $md2) {
        right: -132px;
      }

      @media(max-width: $md3) {
        right: 80px;
        top: 65px;
      }

      &:hover {
        background: url('../../image/icon/arrow-next-active.svg') 0 0 no-repeat;
      }
    }
  }
  

  // .slider-dish__wrapper
  &__wrapper {
    overflow: hidden;
    max-width: 735px;
  }

  &__container {
    position: relative;
    display: flex;
    gap: 35px;
    transition: all 0.6s ease;
    transform: translateX(0);
    cursor: grab;

    @media(max-width: $md2) {
      width: 350px;
    }
    @media(max-width: $md4) {
      width: 300px;
    }
  }
  // .slider-dish__slide
  &__slide {
    width: 350px;
    height: 270px;
    user-select: none;

    @media(max-width: $md4) {
      width: 300px;
    }
  }

  &__show-conteiner {
    display: flex;
    gap: 10px;
    position: absolute;
    bottom: 55px;
    left: 50%;
    transform: translate(-50%, 0);
  }

  &__show-block {
    width: 25px;
    height: 8px;
    border-radius: 2px;
    background-color: #fff;
    opacity: 0.1;
    cursor: pointer;
  }
}

.grabbing {
  cursor: grabbing;
}