.social {

  // .social__box
  &__box {
    max-width: 350px;
    min-height: 330px;
    background-color: $color-paragraph;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
  }

  // .social__item
  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px;
  }

  // .social__link
  &__link {
    display: flex;
    gap: 20px;
    align-items: center;
    color: inherit;
    transition: all 0.3s ease-out;

    &.link-instagram:hover .social__logo {
      background: url('../../image/icon/instagram-active.svg') 0 0 no-repeat;
    }

    &.link-facebook:hover .social__logo {
      background: url('../../image/icon/facebook-active.svg') 0 0 no-repeat;
    }

    &.link-twitter:hover .social__logo{
      background: url('../../image/icon/twitter-active.svg') 0 0 no-repeat;
    }

    &:hover {
      color: $color-main-primary;
    }

  }

  // .social__logo
  &__logo {
    width: 40px;
    height: 40px;
    transition: all 0.3s ease-out;

    &.logo-facebook {
      background: url('../../image/icon/facebook.svg') 0 0 no-repeat;
    }

    &.logo-twitter {
      background: url('../../image/icon/twitter.svg') 0 0 no-repeat;
    }

    &.logo-instagram {
      background: url('../../image/icon/instagram.svg') 0 0 no-repeat;
    }
  }

  // .social__title
  &__title {}

  // .social__button
  &__button {}

  // .social__line
  &__line {
    display: block;
    width: 100%;
    height: 2px;
    background-color: $color-title;
  }

  // .social__content
  &__content {
    padding: 20px 25px;
    font-size: 1.4rem;
    line-height: 2.14;
    text-align: left;
    max-height: 210px;
    overflow: hidden;
  }

  &__content-insta {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;

    & img {
      width: 115px;
      height: 115px;
      transition: all 0.5s ease;
      cursor: pointer;

      &:hover {
        transform: scale(1.2);
      }
    }
  }

  &__content-insta-img {
    position: relative;
    overflow: hidden;
  }

  &__content-insta-arrow {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;


    & img {
      width: 40px;
      height: 40px;
    }
  }

  // .social__date
  &__date {
    color: #737373;
  }

  // .social__text
  &__text {
    color: rgba(255, 255, 255, 0.7);
    padding: 10px 0;
  }

  // .social__nick
  &__nick {
    color: $color-main-primary;
  }
}

.button-order {

  // .button-order__text
  &__text {
    padding: 0px 18px;
  }
}

.blur {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(2px);
}