.steps {

  // .steps__blocks
  &__blocks {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;

    @media(max-width: $md1) {
      
    }
  }
}

.step {

  // .step__block
  &__block {
    opacity: 0;
    background-color: $color-paragraph;
    border-radius: 6px;
    height: 206px;
    flex: 1 0 21%;

    @media(max-width: $md1) {
      flex: 0 0 35%;
    }

    @media(max-width: 590px) {
      flex: 0 0 65%;
    }
  }

  &__block-active {
    background-color: $color-main-primary;
  }

  // .step__container
  &__container {
    padding: 24px;
    display: flex;
    flex-direction: column;
    text-align: left;
  }

  // .step__title
  &__title {
    font-size: 2.2rem;
    line-height: 1.18;
    letter-spacing: -0.275px;
    color: $color-text-primary;
  }

  &__title-active {
    color: $color-main;
  }

  // .step__line
  &__line {
    width: 56px;
    height: 2px;
    background-color: $color-main-primary;
    margin: 15px 0 24px;
  }

  &__line-active {
    background-color: $color-main;
  }

  // .step__text
  &__text {
    font-size: 1.3rem;
    line-height: 1.38;
    letter-spacing: -0.1625px;
    color: $color-text;
  }

  &__text-active {
    color: $color-main;
  }
}