.main {
  position: relative;
  top: -90px;
  background: url('../../image/main/bg.jpg') 0 0 no-repeat;
  background-size: cover;
  width: 100%;
  // height: 100vh;
  z-index: -10;
  
  // .main__bg
  &__bg {

  }
  // .main__container
  &__container {
    height: 100%;
    display: flex;
    align-items: center;
  }
  // .main__block
  &__block {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 870px;
    margin: 0 auto;
    padding-top: 170px;

    @media(max-width: $md2) {
      padding-bottom: 90px;
    }
  }
  // .main__title
  &__title {
    font-family: $fontFamilyBolt;
    font-size: 7.2rem;
    line-height: 1.21;
    letter-spacing: 0.1em;
    transform: scale(0.94);
    animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
    height: 100%;
    text-align: center;

    @media(max-width: $md2) {
      font-size: 6rem;
    }
    @media(max-width: $md5) {
      font-size: 5rem;
    }
  }
  // .main__title-normal
  &__title-normal {
  }
  // .main__text
  &__text {
    max-width: 520px;
    line-height: 1.625;
    letter-spacing: -0.2px;
    opacity: 0.7;
    font-size: 1.6rem;
    padding-top: 16px;
    height: 52px;
  }
  // .main__text-upper-case
  &__text-upper-case {
    text-transform: uppercase;
  }
  // .main__button
  &__button {
    margin: 60px 0 70px;
  }
  // .main__contact
  &__contact {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
.page {
  // .page__wrapper
  &__wrapper {
    height: 100%;
  }
}
.button {
  // .button__text
  &__text {
  }
  // .button__img
  &__img {
  }
}
.button-main {
}
.text-main {
}
.img-main {
}
.contact-main {
  // .contact-main__block
  &__block {
  }
  // .contact-main__text
  &__text {
  }
}
.contact {
  // .contact__logo
  &__logo {
  }
  // .contact__text
  &__text {
  }
  // .contact__subtext
  &__subtext {
  }
}
