.main {
  min-height: 760px;

  // position: relative;
  // .main__bg
  &__bg {
    background: url('../../image/main/bg.jpg') 0 0 no-repeat;
    position: absolute;
    top: -90px;
    left: 0;
    z-index: -10;
    height: 100%;
    width: 100%;
  }

  // .main__wrapper
  &__container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
  }

  // .main__block
  &__block {
    display: flex;
    flex-direction: column;
    max-width: 870px;
    margin: 0 auto;
    align-items: center;
    text-align: center;
    padding: 80px 0 160px 0;

    @media(max-width: $md3) {
      padding-bottom: 50px;
    }
  }

  // .main__title
  &__title {
    font-family: $fontFamilyBolt;
    font-size: 7.2rem;
    line-height: 1.21;
    letter-spacing: 0.1em;
    transform: scale(0.94);
    animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);

    @media(max-width: $md3) {
      font-size: 6rem;
    }

    @media(max-width: $md5) {
      font-size: 5rem;
    }
  }

  

  // .main__title-normal
  &__title-normal {
    font-family: $fontFamilyRoman;
  }

  // .main__text
  &__text {
    max-width: 520px;
    line-height: 1.625;
    letter-spacing: -0.2px;
    opacity: 0.7;
    font-size: 1.6rem;
    padding-top: 16px;
  }

  // .main__text-upper-case
  &__text-upper-case {
    text-transform: uppercase;
  }

  // .main__button
  &__button {
    margin: 40px 0 70px 0;
  }

  // .main__contact
  &__contact {
    display: flex;
    gap: 90px;
    width: 100%;

    @media(max-width: $md3) {
      flex-direction: column;
      gap: 30px;
    }
  }
}

@keyframes scale {
  100% {
    transform: scale(1);
  }
}

@keyframes fade-in {
  100% {
    opacity: 1;
    filter: blur(0);
  }
}