.recipes {

  // .recipes__container
  &__container {
    max-width: 1110px;
    margin: 0 auto;
    padding-top: 60px;
  }

  // .recipes__body
  &__body {
    text-align: center;
  }

  // .recipes__block
  &__block {
    display: flex;
    gap: 30px;
    padding: 60px 0 30px 0;
  }

  // .recipes__left-side
  &__left-side {}
}