.about {


  // .about__container
  &__container {
    max-width: 1110px;
    margin: 0 auto;
    background-color: $color-paragraph;
    padding-top: 60px;
  }

  // .about__block
  &__block {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  // .about__title-block
  &__title-block {}

  // .about__slider-dish
  &__slider-dish {
    opacity: 0;
    padding: 90px 0 90px;
  }
}