.social {
  // .social__container
  &__container {
    max-width: 1110px;
    margin: 0 auto;
    padding-top: 60px;
  }
  // .social__body
  &__body {
    text-align: center;
  }
// .social__block
  &__block {
    padding: 60px 0 120px;
    display: flex;
    justify-content: space-between;
  }
}
